<h2>Users</h2>
<%= link_to 'Add User', new_user_path %>
<table class="dataTable">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Roles</th>
    <th>Actions</th>
  </tr>

<% @users.each do |u| %>
  <tr>
    <td>
<% if can? :read, User %>
  <%= u.name %>
<% end %>
    </td>
    <td><%= u.email %></td>
    <td><%= u.all_roles %></td>
    <td>
<% if can? :edit, User %>
  <%= link_to "Edit", edit_user_path(u.id) %>
<% end %>
      </td>
  </tr>
<% end %>
</table>

