<h1>Listing events</h1>
<%= link_to 'New Event', new_event_path %>
<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %> 
  </h2>
<% calendar_for @events, :year => @date.year, :month => @date.month do |calendar| %>
  <%= calendar.head('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat') %>
  <% calendar.day(:day_method => :when) do |cdate, events| %>
    <%= cdate.day %>
    <ul>
    <% events.each do |event| %>
      <li><%= link_to event.title, event %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>
</div>

