<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
  <% for group in Group.all %>
    <%= check_box_tag "contact[group_ids][]", group.id, @contact.groups.include?(group) %>
    <%= group.name %>
  <% end %>
  </div>

  <div class="field">
    <%= f.label :assign_to_staff %><br />
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
