<% content_for :sidebar do %>
  <% @groups.each do |group| %>
    <%= link_to group.name, params.merge(:group => group.id) %> (<%= group.contacts.count %>)<br>
  <% end %>
<% end %>

<h2>Listing contacts</h2>
<%= form_tag contacts_path, :method => 'get', :id => "contacts_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  </p>
  <div id="contacts"><%= render 'contacts' %></div>
<% end %>

<br />

<%= link_to 'New Contact', new_contact_path %>
