<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @contact.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @contact.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
