<p id="notice"><%= notice %></p>
<%= debug(params) %>

<h2>Role: <%= @role.name %></h2>

<h3>Add an existing user</h3>

<h3>Add a new user</h3>
<%= render 'users/form' %>

<%= render 'users/users_table' %>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
