<!DOCTYPE html>
<html>
<head>
  <title>Directory</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="container">
  <div id="header">
    <h1>
     Directory 
    </h1>
  </div>
  <div id="navigation">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Contacts</a></li>
      <li><a href="#">Staff</a></li>
      <li><a href="#">Admin</a></li>
    </ul>
  </div>
  <div id="content-container">
    <div id="aside">
      <h3>
      Groups
      </h3>
      <%= yield :sidebar %>
    </div>
    <div id="content">
<%= yield %>
    </div>
    <div id="footer">
      Copyright © Site name, 20XX
    </div>
  </div>
</div>

</body>
</html>


